# Byte-compiled Python files
__pycache__/

# data
*.csv
*.json
*.parquet

# C extensions
*.so

# Mac OS
.DS_Store
*/.DS_Store

# Distribution / packaging
dist/
eggs/


.npm
.yarn
.cache
.wget-hsts
.rnd
.config
.local
*.egg-info
.jupyter
.bash_logout
.profile
.DS_Store
_build
